:root {
    --background-color: #EBECEE;
    --branco: #FFFFFF;
    --laranja: #EB9B00;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --fonte-principal: "Poppins";
    --azul:#002F52;
}

.contato {
    background-color: var(--branco);
    padding: 1rem;
}

.contato-titulo, .contato-texto {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.contato-titulo {
    font-size: 18px;
    font-weight: 500;
}

.contato-texto {
    font-weight: 300;
    margin: 1rem 0;
}

.contato-email {
    padding: 1rem;
    border: 1px solid var(--azul);
    border-radius: 24px;
    width: 90%;
    color: var(--azul);
}

.contato-email::placeholder {
    font-family: var(--fonte-principal);
    color: var(--azul);
    background-image: url("../img/Vector.svg");
    background-repeat: no-repeat;
    padding-left: 2rem;
}

@media screen and (min-width: 1024px) {

    .contato{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contato-descricao {
        margin-right: 3rem;
        width: 30%;
    }

    .contato-email {
        width: 30%;
    }

    .contato-titulo {
        font-size: 24px;
        line-height: 36px;
        font-weight: 500;
    }

    .contato-texto {
        line-height: 24px;
    }

}

@media screen and (min-width: 1728px) {

    .contato-descricao {
        width: 30%;
        margin: 2em 3em 2em 0;
    }

    .contato{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contato-descricao {
        margin-right: 3rem;

    }

    .contato-email {
        width: 20%;
    }

    .contato-titulo {
        font-size: 30px;
        line-height: 36px;
        font-weight: 500;
    }

    .contato-texto {
        line-height: 24px;
        font-size: 20px;
        margin-right: 2em;
    }

    
}

@media screen and (min-width: 3440px) {
    .contato-descricao {
        margin-right: 1rem;
        width: auto;
    }
}